/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
# Logs
./e-com-client/logs
./e-com-client/*.log
./e-com-client/npm-debug.log*
./e-com-client/yarn-debug.log*
./e-com-client/yarn-error.log*
./e-com-client/pnpm-debug.log*
./e-com-client/lerna-debug.log*

./e-com-client/node_modules
./e-com-client/dist
./e-com-client/dist-ssr
./e-com-client/*.local

# Editor directories and files
./e-com-client/.vscode/*
./e-com-client/!.vscode/extensions.json
./e-com-client/.idea
./e-com-client/.DS_Store
./e-com-client/*.suo
./e-com-client/*.ntvs*
./e-com-client/*.njsproj
./e-com-client/*.sln
./e-com-client/*.sw?
